@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color pallete */
    --black: #202020;
    --gray: #9b9b9b;
    --white-smoke: #f2f2f2;
    --white: #ffffff;
    --moody-blue: #8b83dc;
    --purple-illusion: #b1aaff;
    --lavander-blue: #d1cdff;
    --lavander: #e4e2ff;
    --invalid-red: #e25655;
    --dirty-lavander: #e5e4ed;
    /* Opacities */
    --white-opacity-1: rgb(255, 255, 255, 0.7);
    --white-opacity-2: rgb(255, 255, 255, 0.3);
    --purple-illusion-opacity-1: rgb(177, 170, 255, 0.6);
    --purple-illusion-opacity-2: rgb(177, 170, 255, 0.4);
    --purple-illusion-opacity-3: rgb(177, 170, 255, 0.2);
    --lavander-opacity-1: rgb(228, 226, 255, 0.8);
    --photos-background-color: rgb(0, 0, 0, 0.1);
    /* Solid HEX colors of the opacities */
    --purple-illusion-20percent: #efeeff;
    --purple-illusion-40percent: #dfddff;
    --purple-illusion-60percent: #d0ccff;
    --lavander-80percent: #e9e8ff;
    /* Font family */
    --aicura-logo-font: "Inter", sans-serif;
    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    /* Font sizes */
    --font-size-1: 180px;
    --font-size-2: 96px;
    --font-size-3: 60px;
    --font-size-4: 48px;
    --font-size-5: 32px;
    --font-size-6: 24px;
    --font-size-7: 18px;
    --font-size-8: 16px;
    --font-size-9: 12px;
    /* Border widths */
    --borders-width: 1.5px;
    /* Border radiuses */
    --border-radius-1: 30px;
    --border-radius-2: 18px;
}

body {
    background-color: var(--white-smoke);
    font-family: var(--aicura-logo-font);
    padding: 20px 4%;
}

button {
    font-family: var(--aicura-logo-font);
    font-weight: var(--font-weight-regular);
    color: var(--black);
}

/* NAVIGATION BAR DESIGN */

.nav-bar {
    background-color: var(--white);
    height: 60px;
    padding: 19px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-1);
    z-index: 2;
    margin-bottom: 12px;
}

.aicura-logo-btn {
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-semibold);
    /* width: 150px; */
}

.aicura-logo-btn #special-letter {
    color: var(--purple-illusion);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.menu-list {
    display: flex;
}

.menu-list-item {
    list-style-type: none;
    padding: 10.5px 16px;
}

.menu-list-item a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-regular);
}

.action-btns {
    display: flex;
    align-items: center;
    gap: 4px;
}


/* Shearch button - dropdown search bar */

.nav-bar-search-menu {
    position: relative;
}

.nav-bar-search-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--borders-width) solid var(--black) ;
    border-radius: var(--border-radius-1);
    background-color: transparent;
    cursor: pointer;
}

.nav-bar-dropdown-search-menu-background,
.log-in-dropdown-background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(259, 73%, 23%, 0.1); 
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: 16px; /* para Safari */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.nav-bar-dropdown-search-menu {
    position: fixed;
    top: 92px;
    left: 4%;
    width: 92%;
    padding: 24px;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
    transform: translateY(-20px);
    transition: transform 0.5s;
}

.search-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: var(--white-smoke);
    padding: 8px;
    padding-left: 16px;
    border-radius: var(--border-radius-1);
}

.search-icon {
    width: 16px;
    margin-right: 12px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--black);
    font-family: var(--aicura-logo-font);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-8);
    outline: none;
}

.search-bar-input::placeholder {
    color: var(--gray);
    font-weight: 400;
    font-family: var(--aicura-logo-font);
}

.clear-icon {
    width: 24px;
    height: 24px;
    border: none;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

.clear-icon img {
    width: 11px;
}

.close-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -62px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: transparent;
    cursor: pointer;
}

.close-icon img {
    width: 20px;
}

/* Show search */
.show-search {
    opacity: 1;
    pointer-events: initial;
}

.show-search .nav-bar-dropdown-search-menu {
    transform: translateY(0);
}
/* -------------------------- */

/* Log in button - dropdown log in */

/* Log in button  */
.log-in-btn,
.log-in-form-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-left: 16px;
    border-radius: var(--border-radius-1);
    color: var(--black);
    font-weight: var(--font-weight-regular);
}

.log-in-btn {
    text-decoration: none;
    width: 106px;
    height: 40px;
    background-color: transparent;
    border: var(--borders-width) solid var(--black);
    font-size: var(--font-size-8);
}

.log-in-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
}

.log-in-btn .log-in-icon-wrapper {
    width: 24px;
    height: 24px;
    background-color: var(--purple-illusion);
}

.log-in-icon-wrapper img {
    width: 10px;
    transition: 0.15s ease-in-out;
}

.log-in-btn:hover .log-in-icon-wrapper img,
.log-in-form-btn:hover .log-in-icon-wrapper img {
    transform: rotate(45deg);
}

/* Log in formulario */
.log-in-dropdown-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-dropdown-wrapper {
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
    padding: 0 60px;
    padding-top: 86px;
    padding-bottom: 68px;
    transform: translateY(-20px);
    transition: transform 0.5s;
}

.log-in-form-close-btn {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: var(--white);
    border: 8px solid var(--purple-illusion-20percent);
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

.log-in-form-close-btn:focus {
    border-color: var(--purple-illusion-60percent);
}

.log-in-form-close-btn img{
    width: 14px;
}

.log-in-form-container {
    width: 100%;
}

.log-in-title {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-3);
    color: var(--black);
    margin-bottom: 28px;
}

.log-in-form,
.log-in-group,
.log-in-input-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-group {
    width: 100%;
    gap: 24px;
    margin-bottom: 30px;
}

.log-in-input-group,
.password-input-group-wrapper {
    width: 100%;
}

.password-input-group {
    margin-bottom: 4px;
}

.forgot-password {
    display: block;
    text-decoration: none;
    color: var(--gray);
    font-size: var(--font-size-9);
    padding-left: 8px;
}

.log-in-form .log-in-label {
    display: block;
    text-align: initial;
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-semibold);
    color: var(--black);
    margin-bottom: 8px;
    padding-left: 8px;
}

.log-in-label .hide-label {
    opacity: 0;
}

.log-in-input,
.password-input {
    width: 100%;
    height: 40px;
    border-radius: var(--border-radius-1);
    border: var(--borders-width) solid transparent;
    background-color: var(--white-smoke);
    padding: 10px 16px;
    color: var(--black);
    font-size: var(--font-size-8);
    outline: none;
}

.log-in-input::placeholder,
.password-input::placeholder {
    font-family: var(--aicura-logo-font);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-8);
    color: var(--gray);
}

.log-in-input:hover,
.password-input:hover {
    border: var(--borders-width) solid var(--purple-illusion);
}

.log-in-input:focus,
.password-input:focus {
    border: var(--borders-width) solid var(--purple-illusion);
}

.log-in-form-btn {
    width: 164px;
    height: 56px;
    margin-bottom: 36px;
    padding-left: 18px;
    border: none;
    background-color: var(--purple-illusion);
    font-family: var(--aicura-logo-font);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-7);
    cursor: pointer;
    transition: box-shadow .4s;
}

.log-in-form-btn:active {
    background-color: var(--lavander-blue);
}

.log-in-form-btn .log-in-icon-wrapper {
    width: 38px;
    height: 38px;
    background-color: var(--white);
}

.log-in-form-btn .log-in-icon-wrapper img {
    width: 13px;
}

.sign-up-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up {
    font-size: var(--font-size-8);
}

.sign-up p {
    color: var(--black);
}

.sign-up a {
    text-decoration: none;
    color: var(--moody-blue);
}

/* Show log in */
.show-log-in {
    opacity: 1;
    pointer-events: initial;
}

.show-log-in .log-in-dropdown-wrapper {
    transform: translateY(0);
}
/* -------------------------- */


/* MAIN PAGE DESIGN */

.main-page section {
    margin-bottom: 12px;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
    padding: 60px 24px;
}

.main-page section:nth-child(1) {
    background-color: transparent;
    padding: 0;
}

.main-page section:nth-child(5) {
    background-color: var(--lavander);
}

.main-page section:last-child {
    padding-top: 40px;
}

.view-all-btn {
    width: fit-content;
    height: 52px;
    padding: 8px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--black);
    background-color: transparent;
    border: var(--borders-width) solid var(--black);
    border-radius: var(--border-radius-1);
    font-size: var(--font-size-8);
}


.view-all-icon-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-illusion);
    border-radius: var(--border-radius-1);
}

.view-all-icon-wrapper img {
    width: 12px;
    transition: 0.15s ease-in-out;
}

.view-all-btn:hover .view-all-icon-wrapper img {
    transform: rotate(45deg);
}



/* MAIN PAGE: PRIMARY PANNEL DESIGN */

.main-section {
    height: 681px;
    display: flex;
    gap: 12px;
}

.image-component img {
    width: 321px;
}

.ms-inner-section:nth-child(1) {
    width: 69.35%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ms-is-module:nth-child(1) {
    height: 374px;
    display: flex;
    position: relative;
    z-index: 1;
}

.main-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-top: 16px;
    background-color: var(--moody-blue);
    border-radius: var(--border-radius-1);
    color: var(--white);
}

.main-component h1 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-semibold);
    line-height: 96px;
}

.main-component p {
    width: 56%;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-regular);
    line-height: 29px;
}

.appointment-component {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.decorative-element-wrapper {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-color: var(--white-smoke);
}

.decorative-element {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--moody-blue);
    border-bottom-right-radius: var(--border-radius-1);
}

.appointment-btn-container {
    display: flex;
    align-items: end;
}

.appointment-btn-wrapper {
    padding-top: 12px;
    padding-left: 12px;
    background-color: var(--white-smoke);
    border-top-left-radius: var(--border-radius-1);
}

.appointment-btn {
    height: 52px;
    padding: 8px;
    padding-left: 16px;
    display: flex;
    gap: 24px;
    align-items: center;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--purple-illusion);
    color: var(--black);
    font-size: var(--font-size-8);
    cursor: pointer;
}

.ab-icon-container {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
}

.ab-icon-container img,
.dc-b-icon-container img,
.sc-b-icon-container img {
    width: 12px;
    transition: 0.15s ease-in-out;
}

.appointment-btn:hover .ab-icon-container img,
.discount-component:hover .dc-b-icon-container img,
.specialists-component:hover .sc-b-icon-container img {
    transform: rotate(45deg);
} 

.ms-is-module:nth-child(2) {
    display: flex;
    gap: 12px;
    height: 295px;
}

.image-component {
    width: 35.87%;
    background-image: url(./assets/images/img-bubbles-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* REVISAR COMO ACOMODAR LA IMAGEN */
    border-radius: var(--border-radius-1);
}

.discount-component,
.specialists-component {
    text-align: unset;
    border: none;
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.discount-component {
    width: 64.13%;
    padding: 20px;
    background-color: var(--lavander-blue);
    cursor: pointer;
}

.dc-keyword-pill-group,
.sc-keyword-pill-group {
    gap: 4px;
}

.dc-keyword-pill-group .keyword-pill,
.sc-keyword-pill-group .keyword-pill {
    height: 35px;
    padding: 8px 12px;
    display: inline-block;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
    margin-top: 4px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-8);
}

.dc-b-icon-wrapper,
.sc-b-icon-wrapper {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-opacity-2);
    border-radius: var(--border-radius-1);
}

.dc-b-icon-container,
.sc-b-icon-container {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
}

.discount-info,
.specialists-info {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-component p {
    font-size: var(--font-size-6);
}

.specialists-component {
    width: 30.65%;
    padding: 20px;
    background-image: url(./assets/images/img-doctor-1-with-background.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.specialists-info p {
    color: var(--black);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-regular);
}
/* ============================= */


/* MAIN PAGE: CONTACT PANNEL DESIGN */

.team-section {
    height: 629px;
}


.doctor-card-container {

}


/* ============================= */


/* MAIN PAGE: CONTACT PANNEL DESIGN */

.contact-section {
    height: 625px;
}

.contact-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-section-content h3 {
    font-size: var(--font-size-1);
    color: var(--black);
    font-weight: var(--font-weight-semibold);
}

.form-module {
    width: 82% /* 1098px */;
    display: flex;
    flex-direction: column;
    gap: 36px;

}

.form-wrapper {
    display: flex;
    gap: 12px;
    width: 100%;
    position: relative; /* AYUDA DE CHAP GPT */
}

.form-wrapper label {
    position: absolute;
    font-weight: var(--font-weight-regular);
    color: var(--gray);
    padding: 20px;
    pointer-events: none; /* AYUDA DE CHAP GPT */
    font-size: var(--font-size-8);
}

.form-wrapper label .hide-label {
    opacity: 0;
}

.user-contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%; /* AYUDA DE CHAP GPT */
}

.user-contact-input {
    display: flex;
    align-items: center;
    position: relative; /* AYUDA DE CHAP GPT */
    width: 100%; /* AYUDA DE CHAP GPT */
}

.user-contact-input input {
    width: 100%; /* AYUDA DE CHAP GPT */
    height: 59px;
    border: none;
    background-color: var(--white-smoke);
    border-radius: var(--border-radius-1);
    display: flex;
    gap: 12px;
    padding: 20px;
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-regular);
    color: var(--black);
    outline: none;
}

.user-message {
    width: 100%; /* AYUDA DE CHAP GPT */
    position: relative; /* AYUDA DE CHAP GPT */
}

.user-message textarea {
    width: 100%; /* AYUDA DE CHAP GPT */
    height: 100%;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--white-smoke);
    padding: 20px;
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-regular);
    color: var(--black);
    outline: none;
}

.user-contact-info input:hover,
.user-contact-input input:focus,
.user-message textarea:hover,
.user-message textarea:focus {
    border: 2px solid var(--purple-illusion);
}

/* Estilos para los mensajes de error */
.error-message {
    display: none; /* Displey:flex ? */
    color: var(--invalid-red);
    font-size: var(--font-size-8);
    margin-top: 4px; /* Displey:flex ? Padding ? */
}

/* Muestra el borde rojo cuando hay un error */
.input-error input {
    border: 2px solid var(--invalid-red) !important;
}
/* -------- */

.form-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.aicura-contact-info {
    display: flex;
    gap: 4px;
}

.aicura-contact-info-pill {
    height: 38px;
    background-color: var(--lavander);
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 16px;
}

.aicura-email-address {
    text-decoration: none;
    color: var(--black);
}

.aicura-phone-number {
    color: var(--black);
    cursor: text;
}

.send-message-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background-color: var(--purple-illusion);
    border: none;
    border-radius: var(--border-radius-1);
    padding: 8px;
    cursor: pointer;
}

.send-message-btn span {
    padding-left: 8px;
    color: var(--black);
    font-size: var(--font-size-8);
    font-family: var(--aicura-logo-font);
    font-weight: 400;
}

.send-icon-wrapper {
    width: 36px;
    height: 36px;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-icon-wrapper img {
    width: 12px;
    transition: 0.15s ease-in-out;
}

.send-message-btn:hover .send-icon-wrapper img {
    transform: rotate(45deg);
}



/* FOOTER DESIGN */

.footer-wrapper {
    height: 582px;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-footer-section {
    display: flex;
    gap: 60px;
}

.footer-directory {
    display: flex;
    gap: 60px;
}

.footer-directory h3 {
    font-size: var(--font-size-8);
    color: var(--black);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 16px;
    cursor: default;
}

.footer-directory ul {
    list-style-type: none;
}

.footer-directory ul li {
    margin-bottom: 10px;
}

.footer-directory ul li a {
    text-decoration: none;
    font-size: var(--font-size-8);
    color: var(--gray);
    font-weight: var(--font-weight-regular);
}

.footer-directory-column-section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.social-and-contact-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-media-accounts-btns {
    display: flex;
    gap: 8px;
}

.social-media-accounts-btns button {
    width: 46px;
    height: 46px;
    background-color: var(--white-smoke);
    border: none;
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.aicura-email-address a {
    text-decoration: none;
    color: var(--black);
}

.footer-legal-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.legals-btns {
    display: flex;
    gap: 24px;
}

.legals-btns a {
    text-decoration: none;
    color: var(--gray);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-regular);
}

.aicura-logo-footer-btn {
    text-decoration: none;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semibold);
    color: var(--purple-illusion);
}

.aicura-logo-footer-btn #special-letter-footer {
    color: var(--lavander);
}


/* WEB BREAKPOINTS STYLE */

@media screen and (max-width: 1068px) and (min-width: 735px) {
}

@media screen and (max-width: 734px) and (min-width: 321px) {
}

@media screen and (max-width: 320px) and (min-width: 0px) {
}