@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color pallete */
    --black: #202020;
    --gray: #9b9b9b;
    --white-smoke: #f2f2f2;
    --white: #ffffff;
    --moody-blue: #8b83dc;
    --purple-illusion: #b1aaff;
    --lavander-blue: #d1cdff;
    --lavander: #e4e2ff;
    --invalid-red: #e25655;
    --dirty-lavander: #e5e4ed;
    --background-gray: #f5f5f5;
    /* Opacities */
    --white-opacity-1: rgb(255, 255, 255, 0.7);
    --white-opacity-2: rgb(255, 255, 255, 0.3);
    --purple-illusion-opacity-1: rgb(177, 170, 255, 0.6);
    --purple-illusion-opacity-2: rgb(177, 170, 255, 0.4);
    --purple-illusion-opacity-3: rgb(177, 170, 255, 0.2);
    --lavander-opacity-1: rgb(228, 226, 255, 0.8);
    --photos-background-color: rgb(0, 0, 0, 0.1);
    /* Solid HEX colors of the opacities */
    --purple-illusion-20percent: #efeeff;
    --purple-illusion-40percent: #dfddff;
    --purple-illusion-60percent: #d0ccff;
    --lavander-80percent: #e9e8ff;
    /* Font family */
    --aicura-logo-font: "Inter", sans-serif;
    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    /* Font sizes */
    --font-size-1: 180px;
    --font-size-2: 96px;
    --font-size-3: 60px;
    --font-size-4: 48px;
    --font-size-5: 32px;
    --font-size-6: 24px;
    --font-size-7: 18px;
    --font-size-8: 16px;
    /* Border widths */
    --borders-width: 1.5px;
    /* Border radiuses */
    --border-radius-1: 30px;
    --border-radius-2: 18px;
}

body {
    background-color: var(--background-gray);
    font-family: var(--aicura-logo-font);
    padding: 20px 4%;
}

/* NAVIGATION BAR DESIGN */

.nav-bar {
    background-color: var(--white);
    height: 60px;
    padding: 19px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-1);
    z-index: 2;
}

.aicura-logo-btn {
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-semibold);
    /* width: 150px; */
}

.aicura-logo-btn #special-letter {
    color: var(--purple-illusion);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.menu-list {
    display: flex;
}

.menu-list-item {
    list-style-type: none;
    padding: 10.5px 16px;
}

.menu-list-item>a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-regular);
}

.action-btns {
    display: flex;
    align-items: center;
    gap: 4px;
}

.search-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--borders-width) solid var(--black) ;
    border-radius: var(--border-radius-1);
    background-color: transparent;
}

.log-in-btn {
    width: 106px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--borders-width) solid var(--black) ;
    border-radius: var(--border-radius-1);
    background-color: transparent;
    padding: 8px;
}

.log-in-btn>a {
    padding-left: 8px;
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-size-8);
    font-family: var(--aicura-logo-font);
    font-weight: 400;
}

.log-in-icon-wrapper {
    width: 24px;
    height: 24px;
    background-color: var(--purple-illusion);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
}


/* BODY: PRIMARY PANNEL DESIGN */

.homepage-section {

}

.homepage-section div:nth-child(3) img {
    width: 321px;
}

.homepage-section div:nth-child(5) div:nth-child(2) img {
    height: 681px;
}


/* FOOTER DESIGN */

.footer-wrapper {
    height: 582px;
    background-color: var(--white);
    border-radius: var(--border-radius-1);
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-footer-section {
    display: flex;
    gap: 60px;
}

.footer-directory {
    display: flex;
    gap: 60px;
}

.footer-directory h3 {
    font-size: var(--font-size-8);
    color: var(--black);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 16px;
    cursor: default;
}

.footer-directory ul {
    list-style-type: none;
}

.footer-directory ul li {
    margin-bottom: 10px;
}

.footer-directory ul li a {
    text-decoration: none;
    font-size: var(--font-size-8);
    color: var(--gray);
    font-weight: var(--font-weight-regular);
}

.footer-directory-column-section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.social-and-contact-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.social-media-accounts-btns {
    display: flex;
    gap: 8px;
}

.social-media-accounts-btns button {
    width: 46px;
    height: 46px;
    background-color: var(--white-smoke);
    border: none;
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.contact-info #aicura-email-address a {
    text-decoration: none;
    color: var(--black);
}

.contact-info #aicura-phone-number {
    color: var(--black);
    cursor: text;
}

.footer-legal-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.legals-btns {
    display: flex;
    gap: 24px;
}

.legals-btns a {
    text-decoration: none;
    color: var(--gray);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-regular);
}

.aicura-logo-footer-btn {
    text-decoration: none;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semibold);
    color: var(--purple-illusion);
}

.aicura-logo-footer-btn #special-letter-footer {
    color: var(--lavander);
}

